* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(250, 235, 237);
    padding: 1rem;
}

.title {
    text-align: center;
    padding: 2rem;
}

.carga {
    padding: 20px;
}

.fecha {
    width: 90px;
}

#fecha {
    width: 100px;
}

.cliente {
    width: 350px;
}

.detalle {

    width: 450px;

}

.cantidadi {
    width: 45px;
}

#cantidadi {
    width: 55px;
}

.cantidade {
    width: 45px;
}

#cantidade {
    width: 55px;
}

.ingreso {
    width: 45px;
}

#ingreso {
    width: 45px;
}

.egreso {
    width: 45px;
}

#egreso {
    width: 45px;
}

.agregaritem {
    width: 85px;
    background-color: rgb(157, 129, 129);
    border-radius: 3px;
    font-size: 12px;
}

.agregaritem:hover {
    background-color: rgb(208, 190, 190);
}

.parrafo1 {
    padding: 15px;
}

th {
    border-style: double;
    background-color: pink;
    font-size: 18px;
    padding: 0.25rem;

}

.planilla {
    padding: 2rem;
    background-color: rgb(234, 250, 233);
    text-align: center;
}

.centrado {
    display: flex;
    flex-direction: column;
    border-style: double;
    background-color: rgb(189, 187, 187);
    align-items: center;
}


.cuadro-totales {
    background-color: rgb(143, 167, 159);
    border-style: double;
    padding: 1rem;
    text-align: right;
    font-size: 28px;
    font-weight: 400;
}

/* Estilos de Reportes.html */

/*.reportesbody {
    background-color: rgb(250, 235, 237);
    padding: 4rem;
    display: flex;
    flex-direction: column;
}*/

.volver {
    width: 105px;
    background-color: rgb(157, 129, 129);
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
      
}

.volver:hover {
    background-color: rgb(208, 190, 190);
}

.reportestitle {
    text-align: center;
    padding: 3rem;
}

.totalh2 {
    padding: 1rem;
}
.recuadro {
    background-color: rgb(189, 180, 197);
    padding: 2rem;
    border-radius: 15px;
    justify-content: center;
    font-size: 18px;
    text-align: start;
}

table {
    background-color: rgb(189, 187, 187);
    border-style: double;
    
}
.th2 {
    
    padding: 1rem;
    width: 500px;
}
tr {
    background-color:rgb(234, 250, 233);
    text-align: center;
    font-size: 18px;
}
